footer.footer
	.footer-cont.container
		.footer-top

			.footer-item
				h4.footer-heading Get In Touch
				p.footer-text Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna.
				ul.address-list
					li.address-item.address-city
						a.city-link(href='https://www.google.com/maps/place/%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82/@59.850672,30.2662233,17z/data=!3m1!4b1!4m5!3m4!1s0x46963ae9246dd91b:0xc46ca88002307d4a!8m2!3d59.850672!4d30.268412' target='_blank') Moonshine Street No: 14/05 Light City, Jupiter
					li.address-item.address-phone
						a.phone-link(href='tel:+79650992682') 0247 541 65 87
					li.address-item.address-mail
						a.mail-link(href='mailto:stupn-mikhail@yandex.ru') support@longwave.com

			.footer-item
				h4.footer-heading Twitter
				ul.twitter-list
					li.twitter-item Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet.
					li.twitter-item Donec ullamcorper metus auctor fringilla. Nullam quis risus eget.
					li.twitter-item Vestibulum id ligula porta  euismod semper. Maecenas faucibus mollis.

			.footer-item
				h4.footer-heading Feedback
				form#send-msg.feedback
					input.feedback-name(type='text' name='name' placeholder='Name')
					input.feedback-email(type='text' name='email' placeholder='Email')
					textarea.feedback-msg(name='message' placeholder='Message' maxlength='350')
					input#btn.feedback-send(type='submit' value='Send')

			.footer-item
				h4.footer-heading About Us
				p.footer-text Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
				p.footer-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur blandit tempus.

		.footer-bottom.clearfix
			.social
				ul.social-list
					li.social-item
						a.social-link.fc(href='#') Facebook
					li.social-item
						a.social-link.tw(href='#') Twitter
					li.social-item
						a.social-link.ln(href='#') LinkedIn
					li.social-item
						a.social-link.rss(href='#') Rss
			.copyright
				p.copyright-text &copy; 2017 Marble. All rights reserved. Development by Mikhail Stupnikov.